name: CI

on:
    push:
        branches:
            - main
            - release-*
    pull_request: {}

env:
    NODE_VERSION: "25"

jobs:
    lint:
        runs-on: ubuntu-24.04

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Install
              uses: actions/setup-node@v6
              with:
                  node-version: ${{env.NODE_VERSION}}
            - run: npm ci

            - name: Lint
              run: npm run lint

    test:
        runs-on: ubuntu-24.04

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Install
              uses: actions/setup-node@v6
              with:
                  node-version: ${{env.NODE_VERSION}}
            - run: npm ci

            - name: test
              run: npm test

    build:
        runs-on: ubuntu-24.04

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Build
              uses: actions/setup-node@v6
              with:
                  node-version: ${{env.NODE_VERSION}}
            - run: npm ci
            - run: npm run clean
            - run: npm run build
